<div><h1 class="text-center text-2xl font-semibold mb-4 mt-4 text-white">
  ⚽ SportSync
</h1>
</div>
<div class="user-header">
  <h2>All Events:</h2>
  <button (click)="logout()" class="logout-btn">Logout</button>
</div>

<div class="event-container" *ngIf="events.length > 0; else noEvents">
  <app-event-item *ngFor="let event of events" [event]="event"></app-event-item>
</div>

<ng-template #noEvents>
  <p>No events available.</p>
</ng-template>

<section class="news">
  <h2>Trending Sports News</h2>
  <div class="news-list">
    <div class="news-card" *ngFor="let news of newsList">
      <img *ngIf="news.urlToImage" [src]="news.urlToImage" alt="News Image" class="news-img" />
      <h4>{{ news.title }}</h4>
      <p>{{ news.description }}</p>
      <a [href]="news.url" target="_blank">Read more</a>
    </div>
  </div>
</section>
