<nav class="navbar">
  <div class="logo">⚽ SportSync</div>
  <button class="home" (click)="goHome()">Home</button>
</nav>

<div class="outer-wrapper">
<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required />
  
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
  
      <button type="submit" class="log">Login</button>
    </form>
    
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  
    <p class="sin">Don't have an account? <button class="signup-btn" (click)="goToSignup()">Sign Up</button></p>
  </div>
</div>
  